.layui-header{
	background-color: #448db8;
}
h2{
	color:#fff;
}
.layui-side{
	background-color: #448db8;
}
.layui-nav{
	background-color: #448db8;
}
.sidechild{
	background-color: #C8EDF5;
}
.layui-footer{
	color:#fff;
	text-align:center;
}